/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
/.arts
/.codeartsdoer
*.py

# Server
server/node_modules/
server/dist/
server/data/
server/.env
server/stdout.log
server/stderr.log